.header {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 300px 1fr;
  .input-box {
      position: relative;
      height: 40px;
      .searchItems{
        width: 100%;
        position: absolute;
        top: 110%;
        left: 0;
        height: auto;
        background: white;
        border-radius: 10px;
        display: grid;
        grid-gap: 6px;
        color: black;
        z-index: 999;
        padding: 5px 10px;
        li{
          list-style: none;
          cursor: pointer;
        }
      }
    input {
      width: 100%;
      height: 100%;
      outline: none;
      color: rgb(255, 255, 255);
      padding: 0px 45px 0 10px;
      background: transparent;
      border: 1px solid white;
      border-radius: 10px;
    }
    img{
        height: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0%,-50%);

    }
  }
  .nav-items{
      gap: 35px;
      width: 100%;
      display: flex;
      justify-content: end;
      img{
          width: 35px;
          height: 35px;
          object-fit: cover;
          cursor: pointer;
      }
      .cart{
        position: relative;
        h2{
          position: absolute;
          left: 50%;
          top: -10px;
          z-index: 99;
          color: red;
          display: grid;
          place-items: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #000;
        }
      }
      .profile-icon{
        position: relative;
        .itembar{
          position: absolute;
          right: 0;
          top: 110%;
          background: white;
          width: auto;
          height: auto;
          padding:5px 15px;
          display: grid;
          cursor: pointer;
          border-radius: 5px;
          &:hover{
            background: rgb(217, 238, 255);
          }
          li{
            list-style: none;
            color: black;
            width: 100%;
            white-space: nowrap;
            display: grid;
            justify-items: center;
            
          }
        }
      }
  }
}
